

#getAction hr {
    width: 90%;
    border: 1px dashed rgba(255,0,0);
    margin: auto;
    margin-bottom: 2rem;
}


#formSectionContainer{
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#formSectionContainer hr{
    width: 80%;
    border: 1px dashed red;
    margin-bottom: 2rem;
}


#pitchPhoto{
    width: 90%;
}


/* actual stuff here! */


.wrapper{
    padding-left: 5%;
    padding-right: 5%;
}


.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.relative{
    position: relative;
}

.text-over-img{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
}

.bg-muted{
    background-color: rgb(244,244,244,0.5);
}

.bg-grey1{
    background-color: rgb(244,244,244,0.5);
}

.bg-grey2{
    background-color: rgb(230,230,230,0.8);
}

.line-break{
    width: 80%;
    border: 1px dashed red;
    margin-bottom: 2rem;
}


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-card{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}


.oppo{
    text-decoration: underline;
    font-style: italic;
}

