

#getAction hr {
    width: 80%;
    border: 1px dashed rgba(255, 0,0);
    margin: auto;
    margin-bottom: 2rem;
}


#formSectionContainer{
    width: 95%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#formSectionContainer hr{
    width: 80%;
    border: 1px dashed red;
    margin-bottom: 2rem;
}


#imageContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

#pitchPhoto{
    width: 90%;
}