
.wrapper{
    padding-left: 5%;
    padding-right: 5%;
    margin-right:auto;
}

.wrapper-lg{
    padding-left: 10%;
    padding-right: 10%;
    margin-left:auto;
}


.relative{
    position: relative;
}

.text-over-img{
    position: absolute;
    top: 40%;
    left: 0;
    text-align: center;
    width: 100%;
}


.bg-muted{
    background-color: rgb(244,244,244,0.5);
}

.bg-grey1{
    background-color: rgb(244,244,244,0.5);
}

.bg-grey2{
    background-color: rgb(230,230,230,0.8);
}


.line-break{
    width: 80%;
    border: 1px dashed red;
    margin-bottom: 2rem;
}


.colContainer{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}


.oppo{
    text-decoration: underline;
    font-style: italic;
    color:black;
}


.form-input{
    border: none;
    border-radius: 0px;
    background: #F2F2F2;
}

.required-asterisk{
    color: red;
}

.btn{
    border-radius: 0px;
}